page-estudiante-edit {
    
    .section {
        background: rgb(42, 82, 128);
        color: #fff;
        margin-bottom: 4px;
    }
    .section-active {
        background: rgb(42, 82, 128);
        color: #fff;
    }
}
